.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 7px;
}

button {
  background-color: #005f99;
  border: 1px solid #005f99;
  border-radius: 8%;
  color: white;
  text-align: center;
  height: 25px;
  width: 100px;
  font-weight: bold;
}

.p-title {
  font-size: 12x;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-footnote {
  margin-top: 50px;
}

.error-message {
  background-color: #d08282;
  border: 1px solid #ff0202;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.url-message {
  background-color: #e6ffe6;
  border: 1px solid #66cc66;
  color: #006600;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.url-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 50%;
  color: #0076be;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 3px 8px;
  text-align: left;
  width: 100%;
  border-radius: 8px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #005f99;
  color: #ccc;
}

.loading {
  align-items: center;
  height: 40px;
}

.loading span {
  font-size: 10px;
  margin-right: 10px;
}

.dot {
  height: 3px;
  width: 3px;
  border-radius: 10%;
  display: inline-block;
  animation: pulse 1.5s ease-in-out infinite;
}

.dot-1 {
  background-color: #4caf50;
  animation-delay: 0s;
}

.dot-2 {
  background-color: #4caf50;
  animation-delay: 0.5s;
}

.dot-3 {
  background-color: #4caf50;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
