.section-tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px 3px 2px 3px;
  display: inline-block;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  border: 1px solid;

  &.padded {
    padding: 15x;
  }
}

.user-group {
  margin: 0 0 10px 0;
  padding: 5px 0 3px 5px;
}
